aiogram==2.10.1
aiohttp==3.7.1
async-timeout==3.0.1
asyncio==3.4.3
asyncpg==0.21.0
attrs==20.2.0
Babel==2.8.0
certifi==2020.6.20
chardet==3.0.4
idna==2.10
motor==2.3.0
multidict==5.0.0
pymongo==3.11.0
pytz==2020.1
typing-extensions==3.7.4.3
yarl==1.6.2
